<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scores %><br />
    <%= f.text_field :scores %>
  </div>
  <div class="field">
    <%= f.label :parameters %><br />
    <%= f.text_field :parameters %>
  </div>
  <div class="field">
    <%= f.label :errors %><br />
    <%= f.text_field :errors %>
  </div>
  <div class="field">
    <%= f.label :prices %><br />
    <%= f.text_field :prices %>
  </div>
  <div class="field">
    <%= f.label :true_answers %><br />
    <%= f.text_field :true_answers %>
  </div>
  <div class="field">
    <%= f.label :stats %><br />
    <%= f.text_field :stats %>
  </div>
  <div class="field">
    <%= f.label :steps %><br />
    <%= f.text_field :steps %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
