.admin_body.full_window
  .row
    .nav-container.span3
      !=render :partial => 'admin/menu_sidebar'
    .container.span7
      %h4=@step.new_record? ? "Добавление этапа" : "Сохранение этапа"
      - if !@step.new_record?
        %form{action: "/admin/steps/#{@step.new_record? ? '' : @step[:n_step_id]}", method: "POST", name: "delete_question", id: "delete_form" }
          %input{type: "hidden", name: "_method", value: "delete"}/
          %input.btn.btn-danger{type: "submit", id: "delete_question",value: "Удалить"}/
      %form.form-horizontal(action="/admin/steps/#{@step.new_record? ? '' : @step[:n_step_id]}" method="POST" name="new_step" id="new_step_form")
        %input{type: "hidden", name: "_method", value: "#{@step.new_record? ? 'POST' : 'PUT'}"}/
        .control-group
          %label.control-label{for: "step_number"}="Номер"
          .controls
            %input{type: "text", name: "n_step_number", value: "#{@step.new_record? ? '' : @step[:n_step_number]}"}/
        .control-group
          %label.control-label{for: "step_description"}="Описание"
          .controls
            %input{type: "text", name: "vc_step_desc", value: "#{@step.new_record? ? '' : @step[:vc_step_desc]}"}/
        %input.btn.btn-primary.offset5(type="submit" id="add_question" value="#{@step.new_record? ? 'Добавить' : 'Сохранить'}")/