<p id="notice"><%= notice %></p>

<p>
  <b>Parameters:</b>
  <%= @score.parameters %>
</p>

<p>
  <b>Errors:</b>
  <%= @score.errors %>
</p>

<p>
  <b>Prices:</b>
  <%= @score.prices %>
</p>

<p>
  <b>True answers:</b>
  <%= @score.true_answers %>
</p>

<p>
  <b>Stats:</b>
  <%= @score.stats %>
</p>

<p>
  <b>Steps:</b>
  <%= @score.steps %>
</p>


<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
