.admin_body.full_window
  .row
    .nav-container.span3
      !=render :partial => 'admin/menu_sidebar'
    .container.span7
      %h4="#{@question.new_record? ? 'Добавление вопроса' : 'Редактирование вопроса'}"
      - if !@question.new_record?
        %form{action: "/admin/questions/#{@question[:n_question_id]}", method: "POST", name: "delete_question", id: "delete_form" }
          %input{type: "hidden", name: "_method", value: "delete"}/
          %input.btn.btn-danger{type: "submit", id: "delete_question",value: "Удалить"}/
      %form.form-horizontal{action: "/admin/questions/#{@question.new_record? ? '' : @question[:n_question_id]}", method: "POST", name: "question", id: "question_form"}
        %input{type: "hidden",value: "#{@question.new_record? ? 'POST' : 'PUT'}", name: "_method"}/
        .control-group
          %label.control-label{for: "step_number"}="Номер этапа"
          .controls
            %select{name: "step_number"}
              - if @steps && @steps.any?
                - @steps.each do |step|
                  - if @question.new_record?
                    %option=step[:n_step_number]
                  - else
                    - if @question[:n_step_number]
                      %option{selected: 'selected'}=step[:n_step_number]
              - else
                - no_steps = true
            - if no_steps
              .alert
                %strong="Внимание!"
                ="Не найдено ни одного этапа. Добавление вопроса невозможно"
        .control-group
          %label.control-label{for: "question_number"}="Номер вопроса"
          .controls
            %input{type: "text", id: "question_number", name: "question_number", value: "#{@question.new_record? ? '' : @question[:n_step_number]}"}/
        .control-group
          %label.control-label{for: "question_text"}="Текст вопроса"
          .controls
            %input{type: "text", name: "question_text", value: "#{@question.new_record? ? '' : @question[:vc_text]}"}/
        .control-group
          %label.control-label{for: "step_description"}="Дата начала"
          .controls
            .input-append.date{id: "datetimepicker1"}
              %input(data-format="dd/MM/yyyy hh:mm:ss" type="text" name='d_begin' value="#{@question.new_record? ? '' : @question[:d_time_start]}")/
              %span.add-on
                %i(data-time-icon="icon-time" data-date-icon="icon-calendar" )
        .control-group
          %label.control-label{for: "step_description"}="Дата окончания"
          .controls
            .input-append.date{id: "datetimepicker2"}
              %input(data-format="dd/MM/yyyy hh:mm:ss" type="text" name='d_end' value="#{@question.new_record? ? '' : @question[:d_time_stop]}")/
              %span.add-on
                %i(data-time-icon="icon-time" data-date-icon="icon-calendar")
        .control-group
          %label.control-label{for: "answer"}="Правильный ответ"
          .controls
            %input{type: "text", name: "answer", value: "#{@question.new_record? ? '' : @question.true_answer[:vc_true_answer]}"}/
        .control-group
          %label.control-label{for: "bonus_count"}="Количество бонусных ответов"
          .controls
            %input{type: "text", name: "bonus_count", value: "#{@question.new_record? ? '' : @price[:n_bonus_count]}"}/
        .control-group
          %label.control-label{for: "normal_price"}="Баллы без бонуса"
          .controls
            %input{type: "text", name: "normal_price", value: "#{@question.new_record? ? '' : @price[:n_normal_price]}"}/
        .control-group
          %label.control-label{for: "bonus_price"}="Баллы с бонусом"
          .controls
            %input{type: "text", name: "bonus_price", value: "#{@question.new_record? ? '' : @price[:n_bonus_price]}"}/
        .row.offset1
          %a.no-hover{href: '/admin/questions'}
            %input.btn{type: "button", id: "users_manage",value: "Назад"}
          - if no_steps
            %input.btn.btn-primary.offset3.disabled{type: "submit", id: "add_question", value: "Добавить", disabled: "disabled"}/
          - else
            - if @question.new_record?
              %input.btn.btn-primary.offset3(type="submit" id="add_question" value="Добавить")/
            - else
              %input.btn.btn-primary.offset3(type="submit" id="save_question" value="Сохранить")/


:javascript
  $(function() {
      jQuery('#datetimepicker1').datetimepicker({
        language: 'pt-BR'
      });
      jQuery('#datetimepicker2').datetimepicker({
        language: 'pt-BR'
      });
  });