<h1>Listing true_answers</h1>

<table>
  <tr>
    <th>Stats</th>
    <th>Steps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @true_answers.each do |true_answer| %>
  <tr>
    <td><%= true_answer.stats %></td>
    <td><%= true_answer.steps %></td>
    <td><%= link_to 'Show', true_answer %></td>
    <td><%= link_to 'Edit', edit_true_answer_path(true_answer) %></td>
    <td><%= link_to 'Destroy', true_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New True answer', new_true_answer_path %>
