<p id="notice"><%= notice %></p>

<p>
  <b>Stats:</b>
  <%= @true_answer.stats %>
</p>

<p>
  <b>Steps:</b>
  <%= @true_answer.steps %>
</p>


<%= link_to 'Edit', edit_true_answer_path(@true_answer) %> |
<%= link_to 'Back', true_answers_path %>
